html, body {
    font-family: 'Poppins', sans-serif;
}
textarea {
    resize: none;
    height: 150px;
}
.navbar-nav .active{
  color: #ff9800 !important;   /* Couleur au survol */
  background-color: rgba(255, 255, 255, 0.1); /* Fond léger */
  border-radius: 5px; /* optionnel */
}

