 *,
 *::before,
 *::after{
    box-sizing: border-box;
    font-family: 'system-ui', sans-serif;
    outline: none;
    margin: 0;
    padding: 0;
    outline: none;

 }
 .container{
    position: relative;
    height: 100vh;/*pour prendre la totalité de l'hauteur disponible*/
    width: 100%;
    /*background: linear-gradient(rgba(0,0,0, .4), transparent),url(IMG.jpg) center center no-repeat;*/
    background: linear-gradient(rgba(0,0,0, .50), transparent), url(img4.jpg) center center no-repeat;
    background-size: cover;
    padding: 0 8%;
    
 }

 nav {
    display: flex;
    justify-content: space-between;
    align-items:center;
    flex-wrap: wrap;
    padding: 5px 0;
}

 nav .logo{ /*si l'élément ciblé est directement collé à l'élément parents le css ne le reconnais pas*/
    width: 120px;
    color: #94f7ec;
    text-decoration: none;
    font-size: 2.5rem;
    font-style: oblique;
    font-weight: bold;
    cursor: pointer;
 }

 nav ul{ /*dans le cas où le point est utilisé sur l'élément ciblé le css ne reconnais pas*/
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
    padding-right: 40px;
    text-align: right;
    list-style-type: none;
    font-style: italic;
 }

  /*l'élément ciblé ne doit pas être séparer par des points et  doit avoir un espace entre l'élément parent et cible*/ 
nav ul li{  
  margin: 20px;
 }

 nav ul li a{
    padding: 10px 20px;
    text-decoration: none;
    color: #94f7ec;
    font-size: 16px;
 }

 button.btn{
   padding: 10% 20px;
   font-style: italic;
   font-size: 1.2rem;
   font-weight: bold;
   border-radius: 20px;
   margin-top: 0;
   border: 1px solid transparent;
   background-color: transparent;
   color: #94f7ec;
   transition: border-color .3s; /*.3s = 0.3s*/
 }

 button.btn:hover{ /* survol du bouton*/
   border-color: #94f7ec;
 }

 section{
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 50px 0;
 }

 .form-wrapper{
   display: flex;
   justify-content: center;
   align-items: center;
   flex: auto;
   text-align: center;
 }

 .form-wrapper .card{
   width: 360px;
   padding: 20px;
   background-color: rgba(0,0,0, .25);
   visibility: hidden;
   opacity: 0;
   transition:  opacity .3s, visibility .3s;
 }
    
 .card.show{
  visibility: visible;
  opacity: 1;
 } 

 .card-header{
   margin: 30px 20px 0;
   font-size: 1.1rem;
   display: flex;
   box-shadow: 2px 3px 8px #d3f7ff71;
   justify-content: space-evenly ; /* space-evenly*/
   align-items: center;
   color: #94f7ec;
   border-radius: 50px;
 }

 .card-header .form-header{
   flex: 50%;
   text-align: center;
   padding: 10px 0;
   border: 1px solid transparent;
   border-radius: 50px;
   user-select: none; /*permet de ne pas selectionner le texte*/
   cursor: pointer;
 }

 .card-header .form-header.active{
   box-shadow: inset 1px 1px 2px rgb(19 210 177/55%), 
               inset -1px 1px 2px rgb(19 210 177/55%), 
               inset -1px -1px 2px rgb(19 210 177/55%),
               inset 1px -1px 2px rgb(19 210 177/55%);
   border-color: #94f7ec;
   transition: border-color .3s, box-shadow .3s;
 }

 .card-body{
   display: flex;
   flex-wrap: nowrap;
   padding: 40px 0;
   text-align: center;
 }

 .form{
   flex: 0 0 100%;
 }

 .toggleform{
   visibility:hidden;
   opacity: 0;
   transition: opacity .3s, visibility .3s;
 }

 .form-control{
  width: 100%;
  border: none;
  border-bottom: 1px solid rgb(134 255 249/65%);
  background: none;
  outline: none;
  padding: 10px 5px;
  margin-bottom: 20px;
  color: #fff;
 
 }

 .form-control::placeholder{
  color: rgb(134 255 249/65%);
  align-items: center;
 }

 .formButton{
  border: 1px solid transparent;
  padding: 1rem 3rem;
  background-color: #94f7ec;
  border-radius: 50px;
  margin-top: 1rem;
  font-size: 1rem;
  transition: transform .3s, box-shadow .3s;
  text-align: center;
 }
 .formButton:hover{
  box-shadow: 3px 5px 15px #94f7ec;
  transform: translateY(-5px);
 }