<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <div class=""></div>
<!-----------------------------navigation barre------------------------------------>
    <section class="Header">

        <nav class="frame_33">
            <div class="nav_name"> 
                <P>
                    <span>Campus</span>Numerique
                </P>
            </div>
            <img src="barre_de_menu.jpg" class="nav_img">
        </nav>


        <div class="frame_34">

            <div class="text_box">
                <p>
                    Bootcamp
                </p>
                <p>
                    CampusNumerique   
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur. Tristique volutpat orci feugiat in sagittis turpis orci erat aliquam. 
                    Nulla pellentesque
                </p>
            </div>

            <div class="bnt">
                <button class="telecharge_bnt">Telecharger le programme </button>                <!-----------------------------------------------------bnt-------------------------------------------------->

                <button class="explore_bnt">Explore </button>                <!-----------------------------------------------------bnt-------------------------------------------------->


            </div>
            <div class="arriere_plan">
                <span> </span>
                <span> </span>
                <span> </span>
                <span> </span>
                <span> </span>
                <span> </span>
                <span> </span>
                <span> </span>
                <span> </span>

            </div>
        </div>

        <div class="Carre">
            <span> </span>
            
            <span> </span>
            <span> </span>
            <span> </span>

        </div>
    </section>


    <section class="Atous_text">

        <div class="Intro_atous">

            <h1>pourquoi CampusNumerique ?</h1>
            <p>
                Campus Numérique une initiative des jeunes ingénieurs en Génie Numérique de la localité de Sangmélima sud du Cameroun. 
                Cette entreprise d’éducation aux nouvelles technologies dédiée a offrir aux collégiens , lycéens 
                ,étudiants et travailleurs une formation de pointe en codage et en art numérique. Nos services incluent des camps de vacances immersifs
                , ainsi que des ateliers en milieu scolaire et extra-scolaires personnalisés selon les besoins des apprenants ou de nos partenaires.
            </p>
        </div>

        <div class="Atous">

            <div class="Text">
                <img src="apprentissage_actif.png">

                <div class="Titre">
                    <h2>Aprentissage active</h2>
                    <p>
                        On dispense en permettant a nos apprenants de réaliser des projets pendants la majeure partie du cours (learning by doing)
                    </p>

                </div>

            </div>

            <div class="Text">
                <img src="expert.png">

                <div class="Titre">
                    <h2>Des Experts</h2>
                    <p>
                        Nos enseignants sont des expérimentés diplomé ou poursuivants leurs études en ingénierie dans divers domaines du secteur informatique.
                    </p>

                </div>

            </div>

            <div class="Text">
                <img src="prog_sur_mesure.png">

                <div class="Titre">
                    <h2>Des programmes sur mesure</h2>
                    <p>
                        Etant hyper-focus sur une tranche d'âge, on adapte le programme aux besoins des apprenants
                    </p>

                </div>
                
            </div>

            <div class="Text">
                <img src="cours_pour_tous.jpg">

                <div class="Titre">
                    <h2>Des cours pour tous </h2>

                    <p>
                        Nous offrons une immense plage en terme d’évènement Tech, art numérique, data, business adaptable a n’import quel profile de l’apprenant
                    </p>
                </div>

            </div>

        </div>
    </section>

        <div class="Curriculum">
            <h2> Curriculum</h2>
            <h2>l'equipe technique qui tramet la passion avec les tendances moderne</h2>
            <p>
                Dans un monde ou la technologie est indispensable et évolue a la vitesse de l’éclaire
                , il est essentiel de trouver des acteurs qui non seulement suivent les tendances mais les façonne. A la différence des bootcamps traditionnel,
                nous insufflons la passion et l’innovation dans chaque composant essentielle lors de votre apprentissage.
            </p>
            <div class="Strol">
                <ul>                <!-----------------------------------------------------bnt-------------------------------------------------->

                    <li>Vue d'ensemble</li>
                    <li>Travail preparatoire</li>
                    <li>Programmation</li>
                </ul>
            </div>
            <h1> Des ateliers pratique imersive </h1>
            <p>
                Maitriser a la fois le compétences fondamentales qui alimentent l’économie numérique d’aujourd’hui 
                ( Intelligence Artificiel , Programmation, 3D design et bien d’autres  ) et anticipé sur un monde de plus en plus connecté.
            </p>
            <div class="Pratique">
                <span>Ce que vous en pense </span>
                <ul>
                    <li>Creaton de site web</li>
                    <li>Savoir utiliserune suite burreautique </li>
                    <li>Utilisation de l'intelligence artificiel au sercvice de la jeunesse</li>
                    <li>Robotique</li>
                    <li>Montage video</li>
                    <li>Art et 3D</li>
                    <li>Travail en equipe</li>
                </ul>
            </div>
        </div>

        <div class="Frame_57">
            <div class="Cn">
                <img src="CN.png">
            </div>
            <button class="Telecharger">
                <!-----------------------------------------------------bnt-------------------------------------------------->
                Telecharger
            </button>
            <button class="Postuler">
                                <!-----------------------------------------------------bnt-------------------------------------------------->
                Postuler
            </button>
        </div>
        <div class="Frame_72">
            <span>Actualité  </span>
            <div class="img"></div>
        </div>

        <div class="Frame_62">
            <h1>Embarque pour une de procahine session</h1>
            <p>
                Rejoignez nos formations AI Sftware en ligne, sur l'un de nos 28+ Campus a treavers le monde ou en format temps partiel 
            </p>

            <span>2026</span>
            <div class="Formation"> 
                Computer Science Summer Program NYC (UIECC)

                <div class="info">
                    <p>
                        <span>June 29 -july 30</span> <span>Mon-Fri</span>
                        <span>5000</span>  <span>95 Hours</span>  <span>24 sits left</span>
                    </p>
                </div>
                <div class="Description">
                    Maitriser a la fois le compétences fondamentales qui alimentent l’économie numérique d’aujourd’hui 
                    ( Intelligence Artificiel , Programmation, 3D design et bien d’autres  ) et anticipé sur un monde de plus en plus connecté.

                </div>

                
                <button class="Reserver">
                    Reservervotre place
                </button>
            </div>
            `
        </div>
    
</body>
</html>